<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @comment.author %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', [:edit] + path_prefix << @comment %> |
<%= link_to 'Back', path_prefix << "comments" %>
